{% extends "header_footer.html" %}
{% load static %}
{% block title %}Account{% endblock title %}


{% block extra_style %}<link href="{% static 'css/account.css' %}" rel="stylesheet">{% endblock extra_style %}

{% block content %}
    <!-- Account Page -->
    <div id="container1" class="container1">
		<!-- FORM SECTION -->
		<div class="row1">
			<!-- SIGN IN -->
			<div class="col1 align-items-center1 flex-col sign-up">
				<div class="form-wrapper align-items-center1">
                    <form method = "post" action="{% url "signin" %}">
						{% csrf_token %}
                        <div class="form sign-up">
                            <div class="input-group1">
                                <i class='bx bxs-user'></i>
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="input-group1">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" placeholder="Password">
                            </div>
                            <button>Sign in</button>
                            <p>
                                <b>Forgot password?</b>
                            </p>
                            <p>
                                <span>Don't have an account?</span>
                                <a href="{% url "signup" %}" class="pointer">
                                    Sign up here
                                </a>
                            </p>
                        </div>
                    </form>
				</div>
			</div>
			<!-- END SIGN IN -->
		</div>
		<!-- END FORM SECTION -->
		<!-- CONTENT SECTION -->
		<div class="row1 content-row">
			<!-- SIGN IN CONTENT -->
			<div class="col1 align-items-center1 flex-col">
				<div class="text sign-up">
					<h2></h2>
				</div>
				<div class="img sign-up">
		
				</div>
			</div>
			<!-- END SIGN IN CONTENT -->
             <!-- SIGN UP CONTENT -->
			<div class="col1 align-items-center1 flex-col">
				<div class="img sign-up">
				
				</div>
				<div class="text sign-up">
					<h2>Welcome</h2>
				</div>
			</div>
			<!-- END SIGN UP CONTENT -->
		</div>
		<!-- END CONTENT SECTION -->
	</div>
{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let container = document.querySelector('.container1');
            container.classList.add('sign-up');
        });
    </script>
{% endblock extra_js %}
{% endblock content %}
